// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
*, body{
  // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    background: #282a36;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure
%vertical-rhythm {
  color: #f8f8f2	;
}

// Header

.site-nav{
  border:0;
}

.menu-icon svg{
  color: white;
}

.site-title {
  &:visited {
    color: #f8f8f2;
  }
}

.trigger{
  top:0;
}

.trigger a{
  color: #f8f8f2;
}

.site-header{
  border-bottom: 1px solid #f8f8f2	;
}

.post-meta{
  color: #bd93f9;
  }
  
  .post-link{
    color: #f8f8f2;
    &:visited{
      color: #f8f8f2;
    }
  }
  
  .post-link:hover{
    color:#f8f8f2;
  }

  // Footer
  .social-media-list li a, .pagination li a{
    border:1px solid #f8f8f2	;
  }

// Posts
.post-content li, ul {
  list-style-type: none; /* Remove os marcadores padrão */
  padding: 0;           /* Remove o padding padrão */
}

.post-content li {
  color: #f8f8f2;       /* Cor do texto dos itens da lista */
}

/* Estilizando o marcador */
.post-content li::before {
  content: '•';         /* Adiciona um marcador personalizado */
  color: #ff79c6		;          /* Cor do marcador */
  font-size: 1em;    /* Tamanho do marcador */
  margin-right: 0.5em; /* Espaçamento entre o marcador e o texto */
  border:0;
}

article{
  margin-right: 100px;
  margin-left: 100px;

  @media (max-width: 768px) {
    margin-right: 25px;
    margin-left: 25px;
  }
}

.post-image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.svg-icon{
  color: #f8f8f2;
}

code{
color:#50fa7b;
background:#44475a;
border:0;
padding: 2px;
}